<div class="row">
    <!-- Portfolio Grid-->
    <section class="page-section bg-light" id="portfolio">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Product</h2>
                <h3 class="section-subheading text-muted">See the details!</h3>
            </div>
            <div class="row">
                {{#each product}}

                <div class="col-lg-12">
                    <div class="portfolio-item" data-id={{this.id}}>

                            <img class="img-fluid" id="productimg" src="{{this.imgurl}}" alt="product image" />

                        <div class="col-xs-12">
                            <div class="col-xs-6" id="dollarSign">$</div>
                            <div class="col-xs-6" id="productPrice">{{this.price}}</div>
                        </div>
                    </div>
                </div>

                    <div class="col-lg-12 mx-auto text-center" id="itemInfoOptions">
                        <h4 id="productName">{{this.product}}</h4>
                        <p class="large text-muted" id="productDescription">{{this.description}}</p>
                    </div>


                {{/each}}

                <!-- ////////////////////////////////////
    FORM FOR CUSTOM OPTIONS BEGINS HERE
///////////////////////////////////////// -->
                <div class="col-lg-8 mx-auto text-center" id="itemOptions">
                    <p>
                    <h3>Choose from the following for your engraving:</h3>
                    </p>


                    <form>

                        <!-- TEXT INPUT -->
                        <div class="form-group row">
                            <label for="inputText" class="col-sm-2 col-form-label"><b>Text:</b></label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="customText"
                                    placeholder="Enter up to 20 characters">
                            </div>
                        </div>

                        <!-- FONTS DROPDOWN -->
                        <div class="form-group row">
                            <div class="col-sm-2"><b>Fonts:</b></div>
                            <div class="dropdown col-sm-10">
                                <label for="fonts">Choose a font:</label>
                                <select id="fonts" name="fontlist" form="fontform">
                                    <option value="Arial" id="customfont">Arial</option>
                                    <option value="SansSerif" id="customfont">Sans Serif</option>
                                    <option value="Cursive" id="customfont">Cursive</option>
                                </select>
                            </div>
                        </div>

                        <!-- OPTION DROPDOWN -->
                        <div class="form-group row">
                            <div class="col-sm-2"><b>Customize:</b></div>
                            <div class="dropdown col-sm-10">
                                <label for="options">Choose another option:</label>
                                <select id="options" name="optionlist" form="optionform">
                                    <option value="1" id="customoption">1</option>
                                    <option value="2" id="customoption">2</option>
                                    <option value="3" id="customoption">3</option>
                                </select>
                            </div>
                        </div>

                        <!-- IMG DROPDOWN-->
                        <div class="form-group row">
                            <div class="col-sm-2">
                                <label for="exampleFormControlFile1"><b>Image</b>:</b></label>
                            </div>
                            <div class="col-sm-10">
                                <label for="imgs">Choose one of our images:</label>
                                <select id="imgs" name="imglist" form="imgform">
                                    <option value="cat" id="customimg">cat</option>
                                    <option value="dog" id="customimg">dog</option>
                                    <option value="cow" id="customimg">cow</option>
                                </select>
                            </div>
                        </div>

                        <!--SUBMIT-->
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-primary" id="addCart">Add to Cart</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
</div>
</section>

</div>